<!DOCTYPE html>
<html>
<head>
  <title>Paranoic</title>
  <%= stylesheet_link_tag    "paranoic/application", :media => "all" %>
  <%= javascript_include_tag "paranoic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
